.landing-bg-img {
    background-image: url(./../../../assets/images/background/BK_IMAGE-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}