<app-public-navbar></app-public-navbar>

<section class="mb-20">
    <div class="container mx-auto relative overflow-hidden">
        <div class="absolute top-0 landing-bg-img h-[45rem] w-full rounded-xl overflow-hidden -z-[1]">
            <div class="bg-gray-950/[0.55] h-[45rem] w-full"></div>
        </div>
        
        <div class="flex-flex-row justify-center align-center w-full text-white">
            <h1 class="text-7xl inter-bold text-center mt-32 mb-12">Discover Your Tech Career Path</h1>
            <h4 class="text-3xl inter-light text-center">Unlock the door to your future in tech with TechExplore</h4>
            <div class="mt-20 text-center">
                <a routerLink="/sign-up" class="btn primary-btn px-8 py-5 inter-semibold text-xl">Sign Up Now!</a>
            </div>
        </div>

        <div class="flex flex-row justify-around align-center w-full mt-36">
            <div class="text-center shadow-xl bg-white shadow-gray-300 px-7 py-12 max-w-96 rounded-2xl">
                <div class="bg-yellow-500 w-1/2 mx-auto mb-7 rounded-full overflow-hidden">
                    <img src="./../../../assets/images/icons/Icon-Test.png" alt="Career test image">
                </div>
                <div>
                    <h2 class="text-3xl inter-semibold capitalize mb-4">take career test</h2>
                    <p class="leading-relaxed text-[20px]">
                        Discover your strengths and interests with our comprehensive career test.
                    </p>
                </div>
            </div>
            <div class="text-center shadow-xl bg-white shadow-gray-300 px-7 py-12 max-w-96 rounded-2xl">
                <div class="bg-yellow-500 w-1/2 mx-auto mb-7 rounded-full overflow-hidden">
                    <img src="./../../../assets/images/icons/Icon-Career-Path.png" alt="Career test image">
                </div>
                <div>
                    <h2 class="text-3xl inter-semibold capitalize mb-4">explore career paths</h2>
                    <p class="leading-relaxed text-[20px]">
                        Tailored career path recommendations based on your assessment results.
                    </p>
                </div>
            </div>
            <div class="text-center shadow-xl bg-white shadow-gray-300 px-7 py-12 max-w-96 rounded-2xl">
                <div class="bg-yellow-500 w-1/2 mx-auto mb-7 rounded-full overflow-hidden">
                    <img src="./../../../assets/images/icons/Icon-Skills.png" alt="Career test image">
                </div>
                <div>
                    <h2 class="text-3xl inter-semibold capitalize mb-4">develop your skills</h2>
                    <p class="leading-relaxed text-[20px]">
                        Personalized skills recommendations to a chosen career path.
                    </p>
                </div>
            </div>
        </div>

        <div class="mt-20 text-center">
            <h1 class="text-5xl inter-bold mb-10">Unleash Your Potential in the World of Technology</h1>
            <p class="mb-6 leading-relaxed text-[20px]">
                At TechExplore, we understand that navigating the dynamic and ever-evolving landscape of the IT industry can be daunting. That's why we're here to guide you every step of the way. Whether you're just starting your journey or looking to advance your career, TechExplore is your ultimate companion in exploring, defining, and achieving your career goals in technology.
            </p>
            <p class="leading-relaxed text-[20px]">
                This is a prototype of an innovative research project conducted at Sabaragamuwa University of Sri Lanka. Our mission is to empower you to navigate the complex and ever-evolving landscape of the IT industry with confidence and clarity.
            </p>
        </div>
    </div>
</section>

<app-public-footer></app-public-footer>