<section class="container mx-auto py-8">
    <div class="w-[60%] border p-8 mx-auto mt-20">
        <h3 class="font-semibold">Instructions:</h3>
        <ul class="list-disc ml-8 mt-5">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repudiandae nobis omnis rem assumenda harum fugit maiores nihil provident quibusdam ipsam voluptate laborum minima illo ducimus, asperiores blanditiis veniam nesciunt?</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda consequuntur doloremque minus dolorem obcaecati sit facilis, quo ipsa, commodi at fugiat deserunt! Eum odio facere modi neque soluta? Illum, debitis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur animi mollitia repudiandae quibusdam laudantium dolorum architecto ullam consequuntur est dolores cumque voluptatum asperiores quis rem, expedita minus voluptatem dolorem!</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, numquam cumque corrupti magni excepturi facilis quae dolor perferendis repudiandae, laboriosam vitae placeat necessitatibus distinctio ipsum saepe eligendi, hic qui vero.</li>
        </ul>
    </div>
    <div class="text-center my-16">
        <a routerLink="../career-test" class="btn primary-btn px-20 py-5">Take Career Test</a>
    </div>
</section>