<section class="container mx-auto">
    <section class="pt-10 pb-5 bg-white border-t border-gray-200">
        <div class="flex flex-row justify-between items-center">
            <span class="inter-medium text-xl">TechXplore</span>
            <div class="flex flex-row items-center justify-between space-x-7">
                <a href="http://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook fa-lg text-gray-400 hover:text-blue-500"></i></a>
                <a href="http://linkedin.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin fa-lg text-gray-400 hover:text-blue-500"></i></a>
                <a href="http://youtube.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube fa-lg text-gray-400 hover:text-blue-500"></i></a>
                <a href="http://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram fa-lg text-gray-400 hover:text-blue-500"></i></a>
            </div>
        </div>
    </section>
    <section class="w-full text-sm text-center pt-3 pb-7 bg-white">
        <span>© {{year}} Sabaragamuwa University of Sri Lanka. “All Rights Reserved”</span>
    </section>
</section>