<section class="border-b shadow-md">
    <div *ngIf="user" class="container mx-auto flex flex-row justify-between items-center py-3">
        <div>
            <img src="assets/images/logos/TechXplore-Logo.png" width="250px" alt="logo">
        </div>
        <div class="flex flex-row items-center space-x-4 cursor-pointer hover:bg-slate-100 ps-3 pe-2 py-2 rounded-md" [matMenuTriggerFor]="menu">
            <img class="rounded-full" src="assets/images/sample-profile.jpg" width="50" height="50" alt="Profile image">
            <span class="font-medium">{{user.firstName + '&nbsp;' + user.lastName}}</span>
            <mat-icon aria-hidden="false" fontIcon="arrow_drop_down"></mat-icon>
        </div>
    </div>

    <mat-menu #menu="matMenu" xPosition="before" class="w-72">
        <a routerLink="profile" mat-menu-item>
            <mat-icon aria-hidden="false" aria-label="View profile" fontIcon="person"></mat-icon>Profile
            <div class="text-xs font-thin text-gray-400">
                Personal information, Skill tracker
            </div>
        </a>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="Sign out" fontIcon="logout" class="text-red-500" style="color: rgb(239 68 68);"></mat-icon>
            <span class="text-red-500">Sign out</span>
        </button>
    </mat-menu>
</section>