<h1 mat-dialog-title *ngIf="!isRedirecting" class="font-semibold text-lg">
  <strong>{{isConfirm ? 'Ending the test...' : ('Hi '+data.name)}}</strong>
</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <ng-container *ngIf="isConfirm || isRedirecting; then countdown else ask"></ng-container>
</div>
<div mat-dialog-actions align="end" *ngIf="!isConfirm && !isRedirecting" class="text-center">
  <button mat-stroked-button (click)="onClose()">No</button>
  <button mat-flat-button (click)="confirmLeave()" color="warn">Yes</button>
</div>


<ng-template #ask>
  <p>Are you sure that you want to end the test?</p>
</ng-template>

<ng-template #countdown>
  <div class="text-center">
    <p *ngIf="!isRedirecting">You will be redirected to main page in...</p>
    <div class="relative my-5" *ngIf="!isRedirecting">
      <mat-progress-spinner color="primary" mode="determinate" [value]="spinnerVal" class="mx-auto"></mat-progress-spinner>
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 text-center">
        <span class="font-medium text-[35px]">{{countdownVal >= 0 ? countdownVal : '0'}}</span>
        <br>
        <span class="text-[13px]">seconds</span>
      </div>
    </div>
    <p *ngIf="!isRedirecting">Please wait. You 're almost there...</p>
    <p *ngIf="isRedirecting" class="p-5">Redirecting...</p>
  </div>
</ng-template>