<section class="absolute bottom-0 border-t w-full py-4 bg-gray-100">
    <div class="container mx-auto flex flex-row justify-between items-center">
        <span class="inter-medium text-md">TechXplore</span>
        <span class="text-sm">© {{year}} Sabaragamuwa University of Sri Lanka. “All Rights Reserved”</span>
        <div class="flex flex-row items-center justify-between space-x-7">
            <a href="http://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook fa-lg text-gray-400 hover:text-blue-500"></i></a>
            <a href="http://linkedin.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin fa-lg text-gray-400 hover:text-blue-500"></i></a>
            <a href="http://youtube.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube fa-lg text-gray-400 hover:text-blue-500"></i></a>
            <a href="http://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram fa-lg text-gray-400 hover:text-blue-500"></i></a>
        </div>
    </div>
</section>