<div mat-dialog-content class="text-center">
    <div class="mb-4">
        <div>
            <img class="mx-auto mb-3 w-[150px]" src="assets/images/processing.gif" alt="Processing request">
        </div>
        <h1 class="text-lg text-black mb-2">Processing the request...</h1>
        <div class="text-blue-600">
            <span *ngIf="minutes != 0">{{minutes < 10 ? '0'+minutes : minutes}}m&nbsp;</span>
            <span>{{seconds < 10 ? '0'+seconds : seconds}}s</span>
        </div>
    </div>
    <p class="text-gray-500 font-light">
        <small><i>— Please don't close the browser/tab until the process completed —</i></small>
    </p>
</div>
