<section class="flex flex-row w-full">
    <div class="relative w-[45%] h-screen flex justify-center items-center bg-white">
        <div class="w-full md:w-[55%]">
            <div class="absolute top-16">
                <a routerLink="/" class="flex flex-row items-center">
                    <mat-icon aria-hidden="false" aria-label="back to landing page" fontIcon="arrow_back" class="me-2"></mat-icon>Home
                </a>
            </div>
            <div class="mb-10">
                <h5 class="mb-1 font-medium">Welcome back!</h5>
                <h1 class="text-4xl font-bold">Sign in to your Account</h1>
            </div>
            <form [formGroup]="signinForm" (ngSubmit)="singIn()">
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. name@example.com" formControlName="email">
                    <div *ngIf="sign_in['email'].touched && sign_in['email'].invalid">
                        <div *ngIf="sign_in['email'].errors && sign_in['email'].errors['required']" class="text-xs text-red-500">Email is required.</div>
                        <div *ngIf="sign_in['email'].errors && (sign_in['email'].errors['email'] || sign_in['email'].errors['pattern'])" class="text-xs text-red-500">Invalid email format. Ex: content@example.com</div>
                    </div>
                </mat-form-field>
                <mat-form-field class="w-full relative">
                    <mat-label>Password</mat-label>
                    <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
                    <mat-icon aria-hidden="false" (click)="togglePasswordVisibility()" 
                        [fontIcon]="showPassword ? 'visibility_off' : 'visibility'" 
                        class="absolute right-0 top-1/2 -translate-y-1/2 text-blue-500 hover:cursor-pointer"></mat-icon>
                    <div *ngIf="sign_in['password'].touched && sign_in['password'].invalid">
                        <div *ngIf="sign_in['password'].errors && sign_in['password'].errors['required']" class="text-xs text-red-500">Password is required.</div>
                        <div *ngIf="sign_in['password'].errors && sign_in['password'].errors['minlength']" class="text-xs text-red-500">Password must be at least 6 characters.</div>
                    </div>
                </mat-form-field>
                <div class="flex flex-row justify-between items-center mb-5">
                    <div class="-ml-[10px]">
                        <mat-checkbox formControlName="rememberMe">Remember Me!</mat-checkbox>
                    </div>
                    <div>
                        <a routerLink="">Forgot Password?</a>
                    </div>
                </div>
                <button type="submit" class="btn w-full px-3 py-4 uppercase tracking-wider" 
                    [ngClass]="{'primary-btn': signinForm.valid, 'disabled-btn':signinForm.invalid}"
                    [disabled]="signinForm.invalid">Sign In</button>
            </form>
            <div class="absolute bottom-16 left-1/2 -translate-x-1/2">
                Don't have an account? <a routerLink="/sign-up" class="inter-medium">Sign up</a>
            </div>
        </div>
    </div>
    <div class="w-[55%] h-screen sign-in-bg flex justify-center items-center">
        <div class="w-full h-screen bg-blue-500/[0.6] flex justify-center items-end pb-28">
            <div class="flex flex-row justify-between items-center rounded-2xl bg-white w-[75%] overflow-hidden shadow-lg">
                <div class="ps-10 pe-3 py-6 w-[70%]">
                    <i class="fa-solid fa-quote-left fa-3x text-gray-300"></i>
                    <p class="mb-3 inter-regular italic">{{quotesList[selectedQuoteIndex].desc}}</p>
                    <span class="inter-semibold">— {{quotesList[selectedQuoteIndex].person}}</span>&nbsp;|&nbsp;<small>{{quotesList[selectedQuoteIndex].title}}</small>
                </div>
                <div class="w-[30%] pt-3">
                    <img class="grayscale" [src]="quotesList[selectedQuoteIndex].pic" [alt]="quotesList[selectedQuoteIndex].person">
                </div>
            </div>
        </div>
    </div>
</section>